@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Merriweather", sans-serif;
}
header nav {
   /* margin-right: 10px; */
   /* margin-left: auto; */
   text-align: right;
   padding-right: 25px;
}

.TextAndImage div {
    max-width: 710px;
    display: inline-block;
    vertical-align: text-top;
}

.TextAndImage div {
    margin-top: 10px;
}
.TextAndImage div h1 {
    margin-bottom: 10px;
}
.TextAndImage div p {
    margin-bottom: 35px;
}
.TextAndImage div img {
    max-width: 100%;
}


.button a {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.imageWidthTest div img{
    max-width: 90%;
}

.imageWidthTest div {
    max-width: 1440px;
    display: grid;
    gap: 75px;
    grid-template-columns: 1fr 1fr 1fr;

}

.ParallelImage div {
    max-width: 1440px;
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;

}
.ParallelImage div img {
    max-width: 100%;
}


